@layer site {
    body {
        color: #fff;
        font-family: "Source Code Pro", monospace;
        font-optical-sizing: auto;
        font-style: normal;
        line-height: 18px;
        letter-spacing: 1px;
        justify-content: center;
        align-items: center;
        margin: 30px;
        margin-top: 10px;
        margin-bottom: 0px;
        overflow-y: hidden;

    }

    body p {
        font-size: 50px;
        line-height: 45px;
        text-align: center;
        display: flex;

    }

    .background {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(https://wallpapers.com/images/hd/4k-ultra-hd-galaxy-halo-planet-8em36r3m48mpqdpw.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -2;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: -1;
    }

    header {
        border-bottom: solid 3px rgb(255, 255, 255);
        padding: 10px;
        font-size: 80px;
        color: rgb(255, 255, 255);
        font-family: 'SF Distant Galaxy AltOutline', sans-serif;
        line-height: normal;
        letter-spacing: normal;
    }

    .passo {
        display: none;
        padding: 15%;
        padding-top: 5%;
    }

    .passo.ativo {
        display: block;
    }

    .passo {
        animation: flutuar 2s ease-in-out infinite;
    }

    @keyframes flutuar {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0);
        }
    }
}

@layer botao {
    .glow-on-hover {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-size: 1.2em;
        width: 30%;
        height: 70px;
        border: none;
        margin: 120px;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
    }

    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }

    .glow-on-hover:active {
        color: #000
    }

    .glow-on-hover:active:after {
        background: transparent;
    }

    .glow-on-hover:hover:before {
        opacity: 1;
    }

    .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }

    @keyframes glowing {
        0% {
            background-position: 0 0;
        }

        50% {
            background-position: 400% 0;
        }

        100% {
            background-position: 0 0;
        }
    }
}